aiohttp
aiofiles
ffmpeg-python
gTTS
cryptography
dnspython
future
googletrans==4.0.0-rc1
motor
pillow
psutil
pykeyboard
pyrogram
python-arq
requests
search_engine_parser
speedtest-cli
TgCrypto
uvloop
youtube_dl
bs4
python-dotenv
feedparser
pyromod
fuzzysearch
emoji
google-trans-new==1.1.9
async-timeout
regex
fonttools
spamwatch
PyDictionary==2.0.1
search_engine_parser
asyncio
googletrans==4.0.0-rc1
pymongo
aiogram == 2.13
html5lib
nest-asyncio
motor
dnspython
PyYAML>5.0
loguru
envparse
img2pdf
sqlalchemy==1.3.20 
odmantic 
html2text
